@charset "UTF-8";

html, body {
    overflow-x: hidden;
    height: 100vh;
}

body {
    background: url(../imagens/capa.png), url(../imagens/ruido.png), linear-gradient(50deg, #ff4169,#7c26f8);
    background-attachment: fixed;
    font-family: helvetica, sans-serif;
}


header {
    background-color: rgba(0, 0, 0, 0.6);
    position: fixed;
    left: 0;
    right: 0;
    top: 0;
    z-index: 1;
    padding: 9px;
}

.navbar-toggler {
    border: 1px solid white;
}

#barra-vertical {
    display: none;
}

/* Carroseul */

main {
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

#slide1 button, 
#slide2 button {
    border-radius: 30px 30px 30px 30px;
    
}
#slide2 button#first {
    background-color: #8B30D4;
    color: white;
}

#slide2 button#first:hover {
    background-color: #6c2ba1;
    color: white;
}

#slide1 h1, #slide2 h1 {
    font-weight: 900;
    
}

/* Conteudo */

.conteudo {
    padding: 30px 10px;
    background-color: #fff;

}

.conteudo h1, h3 {
    color: #7C25F8;
    font-weight: 700;
}

.conteudo h1 {
    font-size: 2.8em;
}

.conteudo h3 {
    font-size: 2em;
}

.albuns {
    width: 97%;
    margin: auto;
    margin-bottom: 25px;
}

.conteudo2 {
    color: white;
    padding: 10px;
}

.conteudo2 h1 {
    font-weight: 700;
    font-size: 3em;
}

.conteudo2 h2 {
    color: #9BF0E1;
    font-weight: 700;
}

.conteudo2 div.iphones {
    transform: rotate(30deg);
}

.conteudo2 div.iphones .iphone_3 {
    display: none;
}

/* Rodapé */
footer {
    background-color: black;
    padding: 10px;
    position: relative;
    z-index: 2;
}

footer a {
    color: white;
    font-size: 0.8em;
}

footer p {
    margin: 0;
}

footer h6 {
    margin-top: 10px;
    font-size: 0.9em;
}

footer a:hover {
    color: #9BF0E1;
    text-decoration: none;
}

.redes {
    float: right;
}

.clear {
    clear: both;
}

@media screen and (min-width: 540px){

    #slide1 h1, #slide2 h1 {
        font-size: 2.5em;
    }

    
    .albuns {
        max-width: 510px;
    }
}

@media screen and (min-width: 768px) {
    header div.conteiner {
        max-width: 780px;
        margin: auto;
    }

    header nav.bug {
        display: grid;
        grid-template-columns: 30% 60%;
        column-gap: 20%;
    }
    

    #carrosel {
        font-size: 1.5em;
    }
    #carrosel button {
        font-size: 0.85em;
    }

    .espacamento {
        display: none;
    }

    #barra-vertical {
        display: inline;
    }
    
    section.conteudo > div {
        display: grid;
        grid-template-columns: 25% 25% 50%;
        max-width: 780px;
        padding: 30px 30px 0px 30px;
        margin: auto;
    }
    
    .albuns {
        margin-top: 0;
    }

    .conteudo .albuns img {
        margin-bottom: 20px;
        width: 85%;
    }

    .conteudo {
        padding: 0px;
    }

    .conteudo2 {
        max-width: 780px;
        margin: auto;
        display: grid;
        grid-template-columns: 30% 60%;
        column-gap: 10%;
        padding: 30px;
    }
    
    .conteudo2 div.iphones img{
        width: 42%;
        float: left;
        margin-right: 30px;
    }

    footer {
        display: grid;
        grid-template-columns: repeat(5, 20%);
    }
}

@media screen and (min-width: 994px){
    header nav.bug {
        display: grid;
        grid-template-columns: 30% 60%;
        column-gap: 30%;
    }
    
    header div.conteiner {
        max-width: 1000px;
        margin: auto;
    }

    section.conteudo {
        padding: 30px 10px 0px 10px;
    }

    section.conteudo > div {
        display: grid;
        grid-template-columns: 25% 25% 50%;
        max-width: 996px;
        padding: 0px 30px;
        margin: auto;
        
    }
    .albuns {
        width: 105%;
        
    }

    .conteudo2 {
        max-width: 996px;
        margin: auto;
        display: grid;
        grid-template-columns: 30% 60%;
        column-gap: 14%;
        padding: 30px;
    }

    .conteudo2 div.iphones img{
        width: 42%;
        float: left;
        margin-right: 30px;
    }

}
@media screen and (min-width: 1200px) {
    header nav.bug {
        display: grid;
        grid-template-columns: 30% 60%;
        column-gap: 40%;
    }

    header div.conteiner{
       max-width: 1150px;
       margin: auto;
    }

    #carrosel {
        font-size: 2em;
    }
    #carrosel button {
        font-size: 1em;
    }

    section.conteudo > div {
        display: grid;
        grid-template-columns: 25% 25% 50%;
        max-width: 1150px;
        padding: 0px 30px;
        margin: auto;
        
    }

    .conteudo2 {
        max-width: 1150px;
        margin: auto;
        display: grid;
        grid-template-columns: 30% 65%;
        column-gap: 10%;
        padding: 30px;
    }

    .conteudo2 div.iphones img{
        width: 45%;
        float: left;
        margin-right: 30px;
    }

}